* {
  margin: 0;
  padding: 0;
}

.header {
  color: red;
  font-size: 30px;
  font-family: 'umeboshi';
  text-align: center;
}

.state {
  border: 2px solid gold;
  padding: 5px;
  color: gold;
}

.state button {
  padding: 5px;
  margin: 5px;
}